@model cw_db.ViewModels.OrderProductsViewModel

<form asp-action="AddOrder" method="post">
<input type="hidden" name="orderId" value="@Model.Id"/>
<div>
    <table>
        <div>
            @foreach (var item in Model.Products)
            {
                <tr>
                <input type="checkbox" name="productsNames" value="@item.Name" 
                    @(Model.Order.Products.Contains(item) ? "checked=\"checked\"" : "") /> 
                        <div>@item.Name - @item.Price </div>
                    <br />
                </tr>
            }
        </div>
    </table>
    </div>
        <div>
                @*<input type="hidden" name="id" value="@Model.Order.Id"/>*@
                <div>
                    <select name="supplierName">
                    @foreach (var item in Model.Suppliers)
                    {
                        
                            <option value="@item.Name">@item.Name - @item.Category </option>
                            <br />
                    }
                    </select>
                </div>
        </div>
<button type="submit" class="btn btn-primary">ADD</button>
</form>